@import "compass/css3";

#themer-toggle{
  left:auto!important;
  right:0;
  padding:0 .8em!important;
  line-height:35px;
}

nav#adminTabs {
  padding:0;
  background:#333;
  background:rgba(0, 0, 0, .7);
  width:100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index:1000;

  ul{
    position:relative;
    top:auto;
    bottom:auto;
    left:auto;
    right:auto;
    background:transparent;
  }

  ul.primary {
    margin:0;
    padding:0;
    display:block;
    border:0;
    overflow:visible;
    float:left;
    border-top:3px solid #fff;
    width:100%;
    height:36px;

    li {
      margin:0 0 5px 5px;
      padding:0;
      display:block;
      float:left;
      border:0;

      a {
        color:#11a;
        text-shadow:1px 1px 1px rgba(255, 255, 255, .5);
        display:block;
        border:0;
        margin:0;
        background:rgba(210, 210, 210, .9);
        @include background-image(linear-gradient(#999, #ccc, #ccc));
        @include border-radius(0 0 6px 6px);
        border-top:2px solid #888;
        border-bottom:2px solid #333;
        border-left:1px solid #333;
        border-right:1px solid #333;
        display:block;
        height:auto;
        padding:5px 13px;
        font: {
          size:13px;
          weight:bold;
          font-family: Arial, sans-serif;
        }
        line-height:18px;
        text-transform: none;


        &:hover {
          color:#22e;
          @include background-image(linear-gradient(#aaa, #eee, #eee, #eee));
          border-top:1px solid #555;
          border-bottom:3px solid #333;
          border-left:1px solid #222;
          border-right:1px solid #222;
          text-decoration: none;
        }
      }

      &.active a {
        @include background-image(linear-gradient(#fff, #fff, #ddd));
        border:2px solid #222;
        border-top:none;
        color:#000;
        display:block;
        &:hover{
          color:#000;
          border-top:none;
          border-color:#222;
        }
      }
    }
  }

  ul.secondary {
    border:0;
    background:#CCC;
    background:rgba(175, 175, 175, .9);
    margin:0;
    padding:0;
    position:absolute;
    bottom:39px;
    right:0;
    overflow:visible;
    width:100%;
    height:40px;

    li {
      display: block;
      float:left;
      padding: 0;
      margin:0;
      border-right:none;
    }

    a {
      position: relative;
      display:block;
      padding: 0 12px;
      border-top: 1px solid #777;
      border-right: 1px solid #999;
      border-left: 1px solid #fff;
      font-size:12px;
      line-height: 39px;
      text-shadow:-1px -1px 1px #fff;
      background:#fff;
      @include border-radius(0);
      color:#000;
      @include background-image(linear-gradient(#bbb, #ddd, #aaa));
      &:hover{
        text-decoration: none;
        color:#000;
        margin-top:0;
        @include background-image(linear-gradient(#fff, #eee, #ccc));
      }
      &.active {
        @include background-image(linear-gradient(#fff, #fff, #eee, #fff));
        font-weight:bold;
        &:after{
          content: ' ';
          position:absolute;
          top: -18px;
          left: 50%;
          margin: 0 0 0 -9px;
          height: 0;
          width: 0;
          border: 9px solid #fff;
          border-top-color: transparent;
          border-left-color: transparent;
          border-right-color: transparent;
        }
        &:before{
          content: ' ';
          position:absolute;
          top: -20px;
          left: 50%;
          margin: 0 0 0 -10px;
          height: 0;
          width: 0;
          border: 10px solid #555;
          border-top-color: transparent;
          border-left-color: transparent;
          border-right-color: transparent;
        }
      }
    }
  }
}


.environment-safe,
.environment-caution,
.environment-live{
  #toolbar div.toolbar-menu ul li a:focus,
  #toolbar div.toolbar-menu ul li a:hover,
  #toolbar div.toolbar-menu ul li a:active,
  #toolbar div.toolbar-menu ul li a.active:focus{
    background:rgba(0, 0, 0, .4);
  }

  #toolbar div.toolbar-menu ul li a.active:hover,
  #toolbar div.toolbar-menu ul li a.active:active,
  #toolbar div.toolbar-menu ul li a.active,
  #toolbar div.toolbar-menu ul li.active-trail a {
    background: rgba(255, 255, 255, .25)
  }


  #toolbar-home {
    a{
      width:auto;
      margin-right: 4px;
      span{
        float: left;
      }

      &:before{
        position: relative;
        display:inline-block;
        padding:0 0 0 6px;
        line-height: 20px;
        font-weight: bold;
      }
    }
  }
}

.environment-safe #toolbar{
  .toolbar-menu{
    background:#004d00;
  }
  #toolbar-home {
    a{
      background:lighten(green, 5);
    }
    a:before{
      content: 'Dev Site';
      background:lighten(green, 5);
    }
  }
}

.environment-caution #toolbar{
  .toolbar-menu{
    background:darken(desaturate(orange, 20), 30);
  }
  #toolbar-home {
    a{
      background:darken(orange, 15);
    }
    a:before{
      content: 'Test Site';
      background:darken(orange, 15);
    }
  }
}

.environment-live #toolbar{
  .toolbar-menu{
    background:darken(red, 25);
  }
  #toolbar-home {
    a{
      background:darken(red, 15);
    }
    a:before{
      content: 'Live Site';
      background:darken(red, 15);
    }
  }
}

body #toolbar{
  border-bottom: 1px solid #000;
  @include box-shadow(none);

  .toolbar-drawer{
    border-bottom: 1px solid #999;
  }
}


/**
 * Module filter exceptions
 */
html.js #module-filter-wrapper {
  #module-filter-submit.fixed-bottom {
    bottom: 39px;
  }

  #module-filter-tabs ul {
    padding-bottom: 4em;
  }
}