#themer-toggle {
  left: auto !important;
  right: 0;
  padding: 0 0.8em !important;
  line-height: 35px;
}

nav#adminTabs {
  padding: 0;
  background: #333;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
nav#adminTabs ul {
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  background: transparent;
}
nav#adminTabs ul.primary {
  margin: 0;
  padding: 0;
  display: block;
  border: 0;
  overflow: visible;
  float: left;
  border-top: 3px solid #fff;
  width: 100%;
  height: 36px;
}
nav#adminTabs ul.primary li {
  margin: 0 0 5px 5px;
  padding: 0;
  display: block;
  float: left;
  border: 0;
}
nav#adminTabs ul.primary li a {
  color: #11a;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  display: block;
  border: 0;
  margin: 0;
  background: rgba(210, 210, 210, 0.9);
  background-image: -moz-linear-gradient(#999999, #cccccc, #cccccc);
  background-image: -o-linear-gradient(#999999, #cccccc, #cccccc);
  background-image: -webkit-linear-gradient(#999999, #cccccc, #cccccc);
  background-image: linear-gradient(#999999, #cccccc, #cccccc);
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0;
  border-radius: 0 0 6px 6px;
  border-top: 2px solid #888;
  border-bottom: 2px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  display: block;
  height: auto;
  padding: 5px 13px;
  font-size: 13px;
  font-weight: bold;
  font-font-family: Arial, sans-serif;
  line-height: 18px;
  text-transform: none;
}
nav#adminTabs ul.primary li a:hover {
  color: #22e;
  background-image: -moz-linear-gradient(#aaaaaa, #eeeeee, #eeeeee, #eeeeee);
  background-image: -o-linear-gradient(#aaaaaa, #eeeeee, #eeeeee, #eeeeee);
  background-image: -webkit-linear-gradient(#aaaaaa, #eeeeee, #eeeeee, #eeeeee);
  background-image: linear-gradient(#aaaaaa, #eeeeee, #eeeeee, #eeeeee);
  border-top: 1px solid #555;
  border-bottom: 3px solid #333;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
  text-decoration: none;
}
nav#adminTabs ul.primary li.active a {
  background-image: -moz-linear-gradient(#ffffff, #ffffff, #dddddd);
  background-image: -o-linear-gradient(#ffffff, #ffffff, #dddddd);
  background-image: -webkit-linear-gradient(#ffffff, #ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #ffffff, #dddddd);
  border: 2px solid #222;
  border-top: none;
  color: #000;
  display: block;
}
nav#adminTabs ul.primary li.active a:hover {
  color: #000;
  border-top: none;
  border-color: #222;
}
nav#adminTabs ul.secondary {
  border: 0;
  background: #CCC;
  background: rgba(175, 175, 175, 0.9);
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 39px;
  right: 0;
  overflow: visible;
  width: 100%;
  height: 40px;
}
nav#adminTabs ul.secondary li {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  border-right: none;
}
nav#adminTabs ul.secondary a {
  position: relative;
  display: block;
  padding: 0 12px;
  border-top: 1px solid #777;
  border-right: 1px solid #999;
  border-left: 1px solid #fff;
  font-size: 12px;
  line-height: 39px;
  text-shadow: -1px -1px 1px #fff;
  background: #fff;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #000;
  background-image: -moz-linear-gradient(#bbbbbb, #dddddd, #aaaaaa);
  background-image: -o-linear-gradient(#bbbbbb, #dddddd, #aaaaaa);
  background-image: -webkit-linear-gradient(#bbbbbb, #dddddd, #aaaaaa);
  background-image: linear-gradient(#bbbbbb, #dddddd, #aaaaaa);
}
nav#adminTabs ul.secondary a:hover {
  text-decoration: none;
  color: #000;
  margin-top: 0;
  background-image: -moz-linear-gradient(#ffffff, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(#ffffff, #eeeeee, #cccccc);
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee, #cccccc);
  background-image: linear-gradient(#ffffff, #eeeeee, #cccccc);
}
nav#adminTabs ul.secondary a.active {
  background-image: -moz-linear-gradient(#ffffff, #ffffff, #eeeeee, #ffffff);
  background-image: -o-linear-gradient(#ffffff, #ffffff, #eeeeee, #ffffff);
  background-image: -webkit-linear-gradient(#ffffff, #ffffff, #eeeeee, #ffffff);
  background-image: linear-gradient(#ffffff, #ffffff, #eeeeee, #ffffff);
  font-weight: bold;
}
nav#adminTabs ul.secondary a.active:after {
  content: ' ';
  position: absolute;
  top: -18px;
  left: 50%;
  margin: 0 0 0 -9px;
  height: 0;
  width: 0;
  border: 9px solid #fff;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}
nav#adminTabs ul.secondary a.active:before {
  content: ' ';
  position: absolute;
  top: -20px;
  left: 50%;
  margin: 0 0 0 -10px;
  height: 0;
  width: 0;
  border: 10px solid #555;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

.environment-safe #toolbar div.toolbar-menu ul li a:focus,
.environment-safe #toolbar div.toolbar-menu ul li a:hover,
.environment-safe #toolbar div.toolbar-menu ul li a:active,
.environment-safe #toolbar div.toolbar-menu ul li a.active:focus,
.environment-caution #toolbar div.toolbar-menu ul li a:focus,
.environment-caution #toolbar div.toolbar-menu ul li a:hover,
.environment-caution #toolbar div.toolbar-menu ul li a:active,
.environment-caution #toolbar div.toolbar-menu ul li a.active:focus,
.environment-live #toolbar div.toolbar-menu ul li a:focus,
.environment-live #toolbar div.toolbar-menu ul li a:hover,
.environment-live #toolbar div.toolbar-menu ul li a:active,
.environment-live #toolbar div.toolbar-menu ul li a.active:focus {
  background: rgba(0, 0, 0, 0.4);
}
.environment-safe #toolbar div.toolbar-menu ul li a.active:hover,
.environment-safe #toolbar div.toolbar-menu ul li a.active:active,
.environment-safe #toolbar div.toolbar-menu ul li a.active,
.environment-safe #toolbar div.toolbar-menu ul li.active-trail a,
.environment-caution #toolbar div.toolbar-menu ul li a.active:hover,
.environment-caution #toolbar div.toolbar-menu ul li a.active:active,
.environment-caution #toolbar div.toolbar-menu ul li a.active,
.environment-caution #toolbar div.toolbar-menu ul li.active-trail a,
.environment-live #toolbar div.toolbar-menu ul li a.active:hover,
.environment-live #toolbar div.toolbar-menu ul li a.active:active,
.environment-live #toolbar div.toolbar-menu ul li a.active,
.environment-live #toolbar div.toolbar-menu ul li.active-trail a {
  background: rgba(255, 255, 255, 0.25);
}
.environment-safe #toolbar-home a,
.environment-caution #toolbar-home a,
.environment-live #toolbar-home a {
  width: auto;
  margin-right: 4px;
}
.environment-safe #toolbar-home a span,
.environment-caution #toolbar-home a span,
.environment-live #toolbar-home a span {
  float: left;
}
.environment-safe #toolbar-home a:before,
.environment-caution #toolbar-home a:before,
.environment-live #toolbar-home a:before {
  position: relative;
  display: inline-block;
  padding: 0 0 0 6px;
  line-height: 20px;
  font-weight: bold;
}

.environment-safe #toolbar .toolbar-menu {
  background: #004d00;
}
.environment-safe #toolbar #toolbar-home a {
  background: #009a00;
}
.environment-safe #toolbar #toolbar-home a:before {
  content: 'Dev Site';
  background: #009a00;
}

.environment-caution #toolbar .toolbar-menu {
  background: #5c3f0a;
}
.environment-caution #toolbar #toolbar-home a {
  background: #b37300;
}
.environment-caution #toolbar #toolbar-home a:before {
  content: 'Test Site';
  background: #b37300;
}

.environment-live #toolbar .toolbar-menu {
  background: maroon;
}
.environment-live #toolbar #toolbar-home a {
  background: #b30000;
}
.environment-live #toolbar #toolbar-home a:before {
  content: 'Live Site';
  background: #b30000;
}

body #toolbar {
  border-bottom: 1px solid #000;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body #toolbar .toolbar-drawer {
  border-bottom: 1px solid #999;
}

/**
 * Module filter exceptions
 */
html.js #module-filter-wrapper #module-filter-submit.fixed-bottom {
  bottom: 39px;
}
html.js #module-filter-wrapper #module-filter-tabs ul {
  padding-bottom: 4em;
}
